<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="">Trip-Guru</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-left">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Discovery <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/journey">My Journeys</a>
      </div>
    </div>
    <div class="nav-item dropdown navbar-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           My Account
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a *ngIf="authService.loggedIn()" class="nav-item nav-link" routerLink="/user/profile">Profile</a>
            <a *ngIf="!authService.loggedIn()" class="nav-item nav-link" routerLink="/user/login">Login</a>
            <a *ngIf="!authService.loggedIn()" class="nav-item nav-link" routerLink="/user/register">Register</a>
            <a *ngIf="authService.loggedIn() && authService.isAdmin()" class="nav-item nav-link" routerLink="/admin">Admin</a>
            <a *ngIf="authService.loggedIn()" class="nav-item nav-link" (click)="onLogOutClick()" >Logout</a>
        </div>
      </div>
  </nav>
<div>
  <div class="flex-container" style="display:flex; justify-content: center;">
  <div class="container" style=" position:fixed; width: 20%; font-size: 20px; text-align: center;">
      <flash-messages></flash-messages>
  </div>
</div>
  <router-outlet></router-outlet> 
</div>
